.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin: 50px 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #000000;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.result {
    margin: 50px 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.result h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 20px;
}

.result p {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:950px) {
    #menu-btn {
        display: inline-block;

    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 16rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: #000000;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
}