* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


:root {
	/* font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320)); */
	--main-color: #d3ad7f;
	--black: #13131a;
	--bgh: #9E9E9E;
	--bg: #4D4D4D;
}

body {
	background: #2b2b2b;
	height: max-content;
	width: 100%;
}

body._no-scroll {
	overflow-y: hidden;
	max-height: 100vh;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	margin-top: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}

/* style header */
header {
	background: var(--bgh);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.1rem 7%;
	height: 100px;
	border-bottom: var(--border);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.logo img {
	height: 3rem;
}

.navbar a {
	margin: 0 1rem;
	font-size: 1rem;
	color: #000000;
}

.navbar a:hover {
	color: #373535;
	border-bottom: .1rem solid #d3ad7f;
	padding-bottom: .5rem;
}

.icon div {
	color: #fff;
	cursor: pointer;
	font-size: 2.5rem;
	margin-left: 2rem;
}

.icon div:hover {
	color: #d3ad7f;
}


.burger {
	display: none;
}

.h1 {
	color: white;
	margin-top: 20px;
	position: relative;
}

.settings {
	width: 800px;
	display: flex;
	justify-content: space-between;
}

.settings-item {
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	width: max-content;
	color: #fff;
}

#sort {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.news-count-r {
	margin-top: 20px;
	display: flex;
	flex-direction: column-reverse;
	width: 800px;
	height: max-content;
	background-color: #929292;
}

.news-count {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 800px;
	height: max-content;
	background-color: #929292;
}

.st {
	display: flex;
}

.news-block {
	background-color: #3b3b3b;
	display: flex;
	flex-direction: row;
	margin: 50px;
	width: 700px;
	height: 250px;

}

.news-block:hover {
	background-color: #3b3b3b;
	display: flex;
	width: 700px;
	height: 250px;
	box-shadow: 1px 2px 1px black;
}

.news-block-img {
	margin: 0;
	padding: 0;
	width: 350px;
	height: 248px;
}

.new {
	width: 350px;
	height: 248px;
}

.news-info-block {
	width: 348px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.news-block-h2 {
	color: #fff;
}

.news-block-span {
	display: flex;
	align-items: start;
	justify-content: flex-start;

}

.block-data {
	font-size: small;
	color: #aaa;
}

.user-likes {
	display: flex;
	position: relative;
	z-index: 3;
}

.user-likes:hover {
	background: #f1f1f129;
}

.user-likes #icon {
	margin-right: 0.01rem;
}

.user-likes #icon .vector._active {
	fill: red;
}

.user-likes #likesCounter {
	font-size: 1rem;
}

.like {
	width: 25px;
	height: 25px;
}

.news-block-date-and-like {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer {
	background-color: #312D2D;
	color: #4b4c4d;
}

.social {
	text-align: center;
	padding: 25px;
}

.social a:hover {
	opacity: 1;
}

.social>a {
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0 8px;
	color: inherit;
	opacity: 0.75;
}


.copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
	margin-bottom: 0;
}

.popup {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 11;
	align-items: center;
	justify-content: center;
	display: none;
}

.popup._open {
	display: flex;
}

.popup-close {
	position: absolute;
	right: 30px;
	top: 30px;
	color: #fff;
}

.form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#jvsdcs8cg {
	display: none;
}

.form-input {
	/* background: var(--bgh); */
	margin-bottom: 30px;
	width: 600px;
	text-align: center;
	border-radius: 10px;
	padding: 10px 30px;
	outline: none;
	background: #fff;
}

.form-btn {
	background: rgb(11, 80, 208);
	padding: 10px 30px;
	border-radius: 10px;
	color: #fff;
	margin-top: 30px;
}