.bigimg {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
}

.merc {
	height: 400px;
	width: 800px;
}

.h1 {
	text-align: center;
	
}

#h1 {
	text-align: center;
	width: 90%;
	color: #fff;
}

.sparaying {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #fff;
}
.disc{
	width: 640px;
}